<section class="card">
  <header class="card-header">
    <h1>{{ isEdit ? 'Editar Livro' : 'Novo Livro' }}</h1>
  </header>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <div class="form-group">
      <label for="title">Título</label>
      <input id="title" type="text" formControlName="title" />
      <small class="error" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
        Título é obrigatório (mín. 2 caracteres)
      </small>
    </div>

    <div class="form-group">
      <label for="description">Descrição</label>
      <input id="description" type="text" formControlName="description" />
      <small class="error" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
        Descrição é obrigatória.
      </small>
    </div>

    <div class="form-group">
      <label for="authorId">Author Id</label>
      <input id="authorId" type="number" formControlName="authorId" />
      <small class="error" *ngIf="form.get('authorId')?.invalid && form.get('authorId')?.touched">
        Author Id é obrigatório.
      </small>
    </div>

    <div class="form-group">
      <label for="genreId">Genre Id</label>
      <input id="genreId" type="number" formControlName="genreId" />
      <small class="error" *ngIf="form.get('genreId')?.invalid && form.get('genreId')?.touched">
        Genre Id é obrigatório.
      </small>
    </div>

    <div class="form-actions">
      <button class="btn primary" type="submit" [disabled]="saving || loading">
        {{ isEdit ? 'Salvar' : 'Criar' }}
      </button>
      <button class="btn" type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</section>
